section.index-categories
    .container
        .row

            .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3.index-categories__single-wrap
                .index-categories__single
                    img.lazy.index-categories__img(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                    h3.index-categories__single-title Léčba bolesti
                    .index-categories__wrap
                        a.index-categories__link(href="#") Lorem ipsumm
                        a.index-categories__link(href="#") Sed ut perspiciatis
                        a.index-categories__link(href="#") Unde omnis
                        a.index-categories__link(href="#") Iste natus error
                        a.index-categories__link(href="#") Consectetur adipiscing elit

            .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3.index-categories__single-wrap
                .index-categories__single
                    img.lazy.index-categories__img(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                    h3.index-categories__single-title Nachlazení
                    .index-categories__wrap
                        a.index-categories__link(href="#") Lorem ipsumm
                        a.index-categories__link(href="#") Sed ut perspiciatis
                        a.index-categories__link(href="#") Unde omnis
                        a.index-categories__link(href="#") Iste natus error
                        a.index-categories__link(href="#") Consectetur adipiscing elit

            .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3.index-categories__single-wrap
                .index-categories__single
                    img.lazy.index-categories__img(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                    h3.index-categories__single-title Léčba kašle
                    .index-categories__wrap
                        a.index-categories__link(href="#") Lorem ipsumm
                        a.index-categories__link(href="#") Sed ut perspiciatis
                        a.index-categories__link(href="#") Unde omnis
                        a.index-categories__link(href="#") Iste natus error
                        a.index-categories__link(href="#") Consectetur adipiscing elit

            .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3.index-categories__single-wrap
                .index-categories__single
                    img.lazy.index-categories__img(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                    h3.index-categories__single-title Pohyb
                    .index-categories__wrap
                        a.index-categories__link(href="#") Lorem ipsumm
                        a.index-categories__link(href="#") Sed ut perspiciatis
                        a.index-categories__link(href="#") Unde omnis
                        a.index-categories__link(href="#") Iste natus error
                        a.index-categories__link(href="#") Consectetur adipiscing elit