.m-productCell
    a.m-productCell__link(href="#")
        .m-productCell__top     
            .m-productCell__thumb

                .m-productCell__tags
                    .m-productCell__tagSingle
                        .a-tag.-sale Oferta specjalna
                    .m-productCell__tagSingle    
                        .a-tag.-new Aktualności
                    .m-productCell__tagSingle 
                        .a-tag.-recommended Najbardziej sprzedane

                .m-productCell__imgWrap
                    img.lazy.m-productCell__img(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#")
                    span.lazy.m-productCell__preloader
                
            h4.m-productCell__title #{ProductName}


        .m-productCell__bottom

            .m-productCell__priceWrap

                .m-productCell__price
                    .m-productCell__priceOld 90 zł
                    .m-productCell__priceMain #[span od] 60.50 zł

            .m-productCell__cta
                span.btn.-transparent.m-productCell__btn Szczegóły produktu
                .m-productCell__stock W magazynie



        .m-productCell__infoToggle
            span.a-icon.-info.m-productCell__infoIcon


        .m-productCell__infoWrap
        
            .m-productCell__infoMainTitle Parametry produktu

            .m-productCell__infoTable
                .m-productCell__infoSingle
                    .m-productCell__infoTitle Producent
                    .m-productCell__infoText YarnArt
                .m-productCell__infoSingle
                    .m-productCell__infoTitle Materiał
                    .m-productCell__infoText 100% Polyamid
                .m-productCell__infoSingle
                    .m-productCell__infoTitle Typ
                    .m-productCell__infoText Fantasy
                .m-productCell__infoSingle
                    .m-productCell__infoTitle Waga kulki/g
                    .m-productCell__infoText 50 g
                .m-productCell__infoSingle
                    .m-productCell__infoTitle Rolka kulki/m
                    .m-productCell__infoText 142 m
                .m-productCell__infoSingle
                    .m-productCell__infoTitle Liczba kulek w opakowaniu
                    .m-productCell__infoText 10 kulek
                .m-productCell__infoSingle
                    .m-productCell__infoTitle Waga paczki/g
                    .m-productCell__infoText 500 g
                .m-productCell__infoSingle
                    .m-productCell__infoTitle Hak do igieł
                    .m-productCell__infoText 3,5 / 4

            .m-productCell__infoList
     
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")
                .m-productCell__infoImgWrap
                    img.m-productCell__infoImg(src=URLbase+"img/product-variant.png" alt="#" title="#")