doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            include partials/_navProducts.pug
        section.o-hero

            .o-hero__swiper.m-heroCarousel(id="hero_swiper")
                .m-heroCarousel__content
                    .swiper-wrapper.m-heroCarousel__wrap

                        .swiper-slide.m-heroCarousel__slide.b-bgCover__wrap
                            a.m-heroCarousel__link(href="#")
                                figure.m-heroCarousel__figure
                                    picture
                                        source.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-srcset=URLbase+"img/carousel/1-991.webp" alt="#" media="(max-width: 991px)" type="image/webp")
                                        source.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-srcset=URLbase+"img/carousel/1.webp" alt="#" type="image/webp")
                                        source.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-srcset=URLbase+"img/carousel/1-991.jpg" alt="#" media="(max-width: 991px)" type="image/jpeg")
                                        img.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-src=URLbase+"img/carousel/1.jpg" alt="#")
                                    .swiper-lazy-preloader.m-heroCarousel__preloader.-light
                                    figcaption.m-heroCarousel__caption
                                        h2.m-heroCarousel__title Lorem ipsum dolor sit amet
                                        a.btn.-white(href="#") Pokaż menu #[span.a-btnIcon #[span.a-icon.-cheveron]]



                        .swiper-slide.m-heroCarousel__slide.b-bgCover__wrap
                            a.m-heroCarousel__link(href="#")
                                figure.m-heroCarousel__figure
                                    picture
                                        source.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-srcset=URLbase+"img/carousel/2-991.webp" alt="#" media="(max-width: 991px)" type="image/webp")
                                        source.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-srcset=URLbase+"img/carousel/2.webp" alt="#" type="image/webp")
                                        source.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-srcset=URLbase+"img/carousel/2-991.jpg" alt="#" media="(max-width: 991px)" type="image/jpeg")
                                        img.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-src=URLbase+"img/carousel/2.jpg" alt="#")
                                    .swiper-lazy-preloader.m-heroCarousel__preloader.-light
                                    figcaption.m-heroCarousel__caption
                                        h2.m-heroCarousel__title Lorem ipsum dolor sit amet
                                        a.btn.-white(href="#") Pokaż menu #[span.a-btnIcon #[span.a-icon.-cheveron]]


                        .swiper-slide.m-heroCarousel__slide.b-bgCover__wrap
                            a.m-heroCarousel__link(href="#")
                                figure.m-heroCarousel__figure
                                    picture
                                        source.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-srcset=URLbase+"img/carousel/3-991.webp" alt="#" media="(max-width: 991px)" type="image/webp")
                                        source.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-srcset=URLbase+"img/carousel/3.webp" alt="#" type="image/webp")
                                        source.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-srcset=URLbase+"img/carousel/3-991.jpg" alt="#" media="(max-width: 991px)" type="image/jpeg")
                                        img.swiper-lazy.m-heroCarousel__img.b-bgCover__img(data-src=URLbase+"img/carousel/3.jpg" alt="#")
                                    .swiper-lazy-preloader.m-heroCarousel__preloader.-light
                                    figcaption.m-heroCarousel__caption
                                        h2.m-heroCarousel__title Lorem ipsum dolor sit amet
                                        a.btn.-white(href="#") Pokaż menu #[span.a-btnIcon #[span.a-icon.-cheveron]]


                    .swiper-pagination.swiper-pagination-white.swiper-pagination-clickable.swiper-pagination-bullets.m-heroCarousel__pagination


        section.o-sectionCategories
            .container
                h1.o-sectionCategories__title Popularne kategorie
                .row
                    - for (var i=0; i<3; i++)
                        .col-12.col-md-4
                            a.o-sectionCategories__single.m-categoryCell(href="#")
                                img.m-categoryCell__img(src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                                h3.m-categoryCell__title Bawełna
                                p.m-categoryCell__text W tej kategorii znajdziesz przędze w 100% z bawełny lub bawełny i domieszki. Większość naszych przędz posiada certyfikat TZU. Wyłącznie z AXland.cz s.r.o.
                                span.m-categoryCell__link Zobacz produkty

        section.o-sectionPoints
            .container.o-sectionPoints__container
                .o-sectionPoints__wrap
                    .o-sectionPoints__single
                        .o-sectionPoints__imgWrap
                            img.o-sectionPoints__img(src=URLbase+"img/location.svg" alt="" title="")
                        .o-sectionPoints__titleWrap
                            h5.o-sectionPoints__title Dostarczamy towary
                            p.o-sectionPoints__text w ciągu 3 dni roboczych

                    .o-sectionPoints__single
                        .o-sectionPoints__imgWrap
                            img.o-sectionPoints__img(src=URLbase+"img/delivery.svg" alt="" title="")
                        .o-sectionPoints__titleWrap
                            h5.o-sectionPoints__title Przy zamówieniu od 100 zl
                            p.o-sectionPoints__text Darmowa wysyłka

                    .o-sectionPoints__single
                        .o-sectionPoints__imgWrap
                            img.o-sectionPoints__img(src=URLbase+"img/phone.svg" alt="" title="")
                        .o-sectionPoints__titleWrap
                            h5.o-sectionPoints__title Odborná poradna
                            p.o-sectionPoints__text Zadzwoń 722 948 133

                    .o-sectionPoints__single
                        .o-sectionPoints__imgWrap
                            img.o-sectionPoints__img(src=URLbase+"img/stock.svg" alt="" title="")
                        .o-sectionPoints__titleWrap
                            h5.o-sectionPoints__title Mamy więcej niż
                            p.o-sectionPoints__text 9999 produktów w magazynie


                        
        section.o-sectionProducts.o-tabs

            nav.o-tabs__nav.m-tabsNav
                .container  
                    .nav.nav-tabs.m-tabsNav__nav(role="tablist")
                
                        a.m-tabsNav__link.active(id="index-1-tab" data-toggle="tab" href="#index-1" role="tab" aria-controls="index-1" aria-selected="true") Oferta specjalna
                
                        a.m-tabsNav__link(id="index-2-tab" data-toggle="tab" href="#index-2" role="tab" aria-controls="index-2" aria-selected="false") Aktualności
            
                        a.m-tabsNav__link(id="index-3-tab" data-toggle="tab" href="#index-3" role="tab" aria-controls="index-3" aria-selected="false") Najbardziej sprzedane

            .tab-content.o-tabs__content.m-tabsContent

                .tab-pane.fade.m-tabsContent__pane.show.active(id="index-1" role="tabpanel" aria-labelledby="index-1-tab")  
                    .m-tabsContent__collapseToggle(data-toggle="collapse" data-target="#collapseIndexTab-1" aria-expanded="false" aria-controls="#collapseIndexTab-1") Oferta specjalna
                    .collapse.m-tabsContent__collapse.show(id="collapseIndexTab-1" aria-labelledby="collapseIndexTab-1")
                        .container  
                            .o-sectionSale.m-productCarousel
                                .m-productCarousel__content
                                    .swiper-wrapper.m-productCarousel__wrap

                                        - for (var i=0; i<5; i++)
                                            .swiper-slide.m-productCarousel__slide
                                                include partials/_single-product-cell.pug

                                    
                                .swiper-button-prev.m-productCarousel__swiperButton.-prev
                                .swiper-button-next.m-productCarousel__swiperButton.-next


                .tab-pane.fade.m-tabsContent__pane(id="index-2" role="tabpanel" aria-labelledby="index-2-tab")    
                    .m-tabsContent__collapseToggle(data-toggle="collapse" data-target="#collapseIndexTab-2" aria-expanded="false" aria-controls="#collapseIndexTab-2") Aktualności
                    .collapse.m-tabsContent__collapse(id="collapseIndexTab-2" aria-labelledby="collapseIndexTab-2")
                        .container  
                            .o-sectionSale.m-productCarousel
                                .m-productCarousel__content
                                    .swiper-wrapper.m-productCarousel__wrap

                                        - for (var i=0; i<6; i++)
                                            .swiper-slide.m-productCarousel__slide
                                                include partials/_single-product-cell.pug
                                    
                                .swiper-button-prev.m-productCarousel__swiperButton.-prev
                                .swiper-button-next.m-productCarousel__swiperButton.-next



                .tab-pane.fade.m-tabsContent__pane(id="index-3" role="tabpanel" aria-labelledby="index-3-tab")   
                    .m-tabsContent__collapseToggle(data-toggle="collapse" data-target="#collapseIndexTab-3" aria-expanded="false" aria-controls="#collapseIndexTab-3") Najbardziej sprzedane
                    .collapse.m-tabsContent__collapse(id="collapseIndexTab-3" aria-labelledby="collapseIndexTab-3")
                        .container  
                            .o-sectionSale.m-productCarousel
                                .m-productCarousel__content
                                    .swiper-wrapper.m-productCarousel__wrap

                                        - for (var i=0; i<6; i++)
                                            .swiper-slide.m-productCarousel__slide
                                                include partials/_single-product-cell.pug
                                    
                                .swiper-button-prev.m-productCarousel__swiperButton.-prev
                                .swiper-button-next.m-productCarousel__swiperButton.-next


        include partials/_news-section.pug
        
        include partials/_footer.pug

        include partials/_js-include.pug

