doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            include partials/_navProducts.pug

        include partials/_modal-add-to-cart.pug
        include partials/_modal-contact.pug
        include partials/_breadcrumb.pug

        section.o-productDetail
            .container
                .row.o-productDetail__row
                    .col-12.col-lg-4.o-productDetail__col
                        .o-productDetail__carousel.m-productDetailCarousel

                            .m-productDetailCarousel__tags
                                .m-productDetailCarousel__tagSingle
                                    .a-tag.-sale Oferta specjalna
                                .m-productDetailCarousel__tagSingle    
                                    .a-tag.-new Aktualności
                                .m-productDetailCarousel__tagSingle 
                                    .a-tag.-recommended Najbardziej sprzedane



                        
                            .m-productDetailCarousel__gallery(itemscope itemtype="http://schema.org/ImageGallery")
                                .swiper-container-horizontal.m-productDetailCarousel__content
                                    .swiper-wrapper.m-productDetailCarousel__wrap

                                        - for (var i=0; i<8; i++)
                                            .swiper-slide.m-productDetailCarousel__slide

                                                figure.m-productDetailCarousel__figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                                                    a.m-productDetailCarousel__link(href=URLbase+"img/product-thumb-large.jpg" itemprop="contentUrl" data-size="1920x1920")
                                                        img.swiper-lazy.m-productDetailCarousel__img(data-src=URLbase+"img/product-thumb-large.jpg" itemprop="thumbnail" alt="Image description" data-index="1")
                                                        .swiper-lazy-preloader.m-productDetailCarousel__preloader
                                                    figcaption.m-productDetailCarousel__figcaption(itemprop="caption description") Popis obrázku 1

                                    .swiper-pagination.swiper-pagination-white.m-productDetailCarousel__swiperNav
                                    .swiper-button-prev.m-productDetailCarousel__swiperButton.-prev
                                    .swiper-button-next.m-productDetailCarousel__swiperButton.-next



                        .m-productDetailMain__description
                            h5.m-productDetailMain__descriptionTitle Szczegóły produktu
                            p.m-productDetailMain__descriptionText YarnArt Knitting and Crochet Yarn Flowers. Skład: 55% bawełna - 45% poliakryl. Przyjemna mieszana przędza pleciona z czterech nitek. Jego gradacje kolorów - zdegradowane - są średnio-długie do długich z subtelnymi kolorowymi wstrząsami. Piękne kolory najlepiej wyróżniają się prostą, prostą dzianiną lub prostymi wzorami. Kwiaty szczególnie nadają się do szydełkowania lub szydełkowania szali, chust, pledów i ponch, swetrów, tunik, kamizelek, czapek, ale także koców i poduszek! Paleta kolorów obejmuje zharmonizowane kombinacje kolorów charakterystycznych i neutralnych.
                        
                        .m-productDetailMain__icons
                            img.m-productDetailMain__iconsSingle(src=URLbase+"img/product-info-img.png" alt="#" title="#")
                            img.m-productDetailMain__iconsSingle(src=URLbase+"img/product-info-img.png" alt="#" title="#")
                            img.m-productDetailMain__iconsSingle(src=URLbase+"img/product-info-img.png" alt="#" title="#")
                            img.m-productDetailMain__iconsSingle(src=URLbase+"img/product-info-img.png" alt="#" title="#")
                            img.m-productDetailMain__iconsSingle(src=URLbase+"img/product-info-img.png" alt="#" title="#")
                            img.m-productDetailMain__iconsSingle(src=URLbase+"img/product-info-img.png" alt="#" title="#")
                            img.m-productDetailMain__iconsSingle(src=URLbase+"img/product-info-img.png" alt="#" title="#")


                    .col-12.col-lg-8.o-productDetail__col
                        .o-productDetail__main.m-productDetailMain

                            h1.m-productDetailMain__title #{ProductName}


                            form.m-productDetailMain__form(method="post" name="product_detail_form" id="product_detail_form")

                                .o-productDetailVariants
                         
                                    h5.o-productDetailVariants__title Wariant produktu

                                    .row.o-productDetailVariants__row
                                        - for (var i=0; i<8; i++)
                                            .col-12.col-md-4.o-productDetailVariants__col

                                                .o-form__group.m-formGroup.-radiobutton.o-productDetailVariants__single
                                                    .o-productDetailVariants__inputWrap
                                                        label.o-productDetailVariants__label(for=i)
                                                        input.m-formGroup__input.o-productDetailVariants__input(type="radio" name="variant" id=i)
                                                        span.m-formGroup__radiobutton.a-radiobutton.o-productDetailVariants__radiobutton

                                                    .o-productDetailVariants__content
                                                        .o-productDetailVariants__name 250
                                                        .o-productDetailVariants__price 60.50 zł
                                                        .o-productDetailVariants__stock W magazynie

                                                    .o-productDetailVariants__imgWrap
                                                        img.o-productDetailVariants__img(src=URLbase+"img/product-variant.png" alt="#" title="#")




                                .m-productDetailMain__cta
                                    h5.m-productDetailMain__ctaTitle Dodaj do koszyka

                                    .m-productDetailMain__qty
                                        .m-numberStepper
                                            input.m-numberStepper__input(type="number" min="1" max="99" value="1" name="cart-item-single-qty")
                                            .m-numberStepper__btnUp
                                                span.m-numberStepper__iconUp
                                            .m-numberStepper__btnDown
                                                span.m-numberStepper__iconDown

                                    button.btn.-secondary.m-productDetailMain__button(type="submit" name="buy-button") #[span.a-icon.-cart.-white.m-productDetailMain__icon] Dodaj do koszyka

                                    .m-productDetailMain__info
                                        .m-productDetailMain__infoContent
                                            .m-productDetailMain__infoTitle Masz problemy z zakupem?
                                            .m-productDetailMain__infoNumber #[span.a-icon.-phone.m-productDetailMain__infoIcon] +420 702 010 909

                                .m-productDetailMain__parameters
                                    h5.m-productDetailMain__parametersTitle Parametry produktu
                                    .m-productDetailMain__parametersWrap

                   
                                        .m-productDetailMain__parametersSingle
                                            .m-productDetailMain__parametersImgWrap
                                                img.m-productDetailMain__parametersImg(src=URLbase+"img/icons/producent.svg" alt="Producent")
                                            .m-productDetailMain__parametersContent
                                                .m-productDetailMain__parametersName Producent
                                                .m-productDetailMain__parametersValue YarnArt
                                        
                                        .m-productDetailMain__parametersSingle
                                            .m-productDetailMain__parametersImgWrap
                                                img.m-productDetailMain__parametersImg(src=URLbase+"img/icons/material.svg" alt="Materiał")
                                            .m-productDetailMain__parametersContent
                                                .m-productDetailMain__parametersName Materiał
                                                .m-productDetailMain__parametersValue 100% Polyamid


                                        .m-productDetailMain__parametersSingle
                                            .m-productDetailMain__parametersImgWrap
                                                img.m-productDetailMain__parametersImg(src=URLbase+"img/icons/typ.svg" alt="Typ")
                                            .m-productDetailMain__parametersContent
                                                .m-productDetailMain__parametersName Typ
                                                .m-productDetailMain__parametersValue Fantasy


                                        .m-productDetailMain__parametersSingle
                                            .m-productDetailMain__parametersImgWrap
                                                img.m-productDetailMain__parametersImg(src=URLbase+"img/icons/waga-kulki-g.svg" alt="Waga kulki/g")
                                            .m-productDetailMain__parametersContent
                                                .m-productDetailMain__parametersName Waga kulki/g
                                                .m-productDetailMain__parametersValue 50 g

                                        .m-productDetailMain__parametersSingle
                                            .m-productDetailMain__parametersImgWrap
                                                img.m-productDetailMain__parametersImg(src=URLbase+"img/icons/rolka-kulki-m.svg" alt="Rolka kulki/m")
                                            .m-productDetailMain__parametersContent
                                                .m-productDetailMain__parametersName Rolka kulki/m
                                                .m-productDetailMain__parametersValue 142 m
                                        
                                        .m-productDetailMain__parametersSingle
                                            .m-productDetailMain__parametersImgWrap
                                                img.m-productDetailMain__parametersImg(src=URLbase+"img/icons/liczba-kulek-w-opakowaniu.svg" alt="Liczba kulek w opakowaniu")
                                            .m-productDetailMain__parametersContent
                                                .m-productDetailMain__parametersName Liczba kulek w opakowaniu
                                                .m-productDetailMain__parametersValue 10 kulek


                                        .m-productDetailMain__parametersSingle
                                            .m-productDetailMain__parametersImgWrap
                                                img.m-productDetailMain__parametersImg(src=URLbase+"img/icons/waga-paczki-g.svg" alt="Waga paczki/g")
                                            .m-productDetailMain__parametersContent
                                                .m-productDetailMain__parametersName Waga paczki/g
                                                .m-productDetailMain__parametersValue 500 g


                                        .m-productDetailMain__parametersSingle
                                            .m-productDetailMain__parametersImgWrap
                                                img.m-productDetailMain__parametersImg(src=URLbase+"img/icons/hak-do-igieł.svg" alt="Hak do igieł")
                                            .m-productDetailMain__parametersContent
                                                .m-productDetailMain__parametersName Hak do igieł
                                                .m-productDetailMain__parametersValue 3,5 / 4




        section.o-sectionSimilar
            .container
                h1.o-sectionSimilar__title Podobne produkty

                .o-sectionSimilar.m-productCarousel(id="product_swiper")
                    .m-productCarousel__content
                        .swiper-wrapper.m-productCarousel__wrap

                            .swiper-slide.m-productCarousel__slide
                                include partials/_single-product-cell.pug
                            .swiper-slide.m-productCarousel__slide
                                include partials/_single-product-cell.pug
                            .swiper-slide.m-productCarousel__slide
                                include partials/_single-product-cell.pug
                            .swiper-slide.m-productCarousel__slide
                                include partials/_single-product-cell.pug
                            .swiper-slide.m-productCarousel__slide
                                include partials/_single-product-cell.pug
                        
                    .swiper-button-prev.m-productCarousel__swiperButton.-prev
                    .swiper-button-next.m-productCarousel__swiperButton.-next



        .productDetailResponsive
            .productDetailResponsive__name
                p.productDetailResponsive__title #{ProductName}
                h3.productDetailResponsive__price #[span 16 989] Kč
            .productDetailResponsive__btn-wrap
                a.btn.productDetailResponsive__btn(onclick="$('#product_detail_form').submit();") Do košíku


        include partials/_footer.pug

        include partials/_js-include.pug

        script.
            $(function(){
                $(".m-numberStepper__btnUp").click(function(){
                    var SpinnerInput = $(this).closest('.m-numberStepper').find('.m-numberStepper__input');
                    if ($(SpinnerInput).val() < 99){
                        $(SpinnerInput).val( Number($(SpinnerInput).val()) + 1 );
                    }
                });
                $(".m-numberStepper__btnDown").click(function(){
                    var SpinnerInput = $(this).closest('.m-numberStepper').find('.m-numberStepper__input');
                    if ($(SpinnerInput).val() > 1){
                        $(SpinnerInput).val( Number($(SpinnerInput).val()) - 1 );
                    }
                });
            }); 
            //SWIPER PRODUCT
            var carousel_product = new Swiper('.m-productDetailCarousel__content', {
                lazy: true,
                spaceBetween: 0,
                grabCursor: true,
                zoom: false,
                loop: false,
                pagination: {
                    el: '.m-productDetailCarousel__swiperNav',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.m-productDetailCarousel__swiperButton.-next',
                    prevEl: '.m-productDetailCarousel__swiperButton.-prev',
                }
            });

            var galleryThumbs = new Swiper('.m-productDetailThumbs__content', {
                spaceBetween: 10,
                lazy: true,
                centeredSlides: true,
                slidesPerView: '6',
                touchRatio: 0.2,
                slideToClickedSlide: true,
            });


            initPhotoSwipeFromDOM('.m-productDetailCarousel__gallery');
         
             
            $( ".pswp__button--arrow--left" ).click(function() {
                $( ".m-productDetailCarousel__swiperButton.-prev" ).click();
            });
            $( ".pswp__button--arrow--right" ).click(function() {
                $( ".m-productDetailCarousel__swiperButton.-next" ).click();
            });